/* 
변수 사용법 "--naming" : 변수명에 "--" 를 붙인다. 
자식 노드에만 적용 됨으로 보통 root에 선언 한 후 재사용 가능. 
사용법 : var(--naming)
번외 : cal(var(--nameing) * 2)) 계산식으로도 사용가능 
*/

/* Global Setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;

  --color-point-red1: #560027;
  --color-point-red2: #880e4f;
  --color-point-red3: #bc477b;
  --color-point-red4: #b899a7;

  --color-main-dark1: #1b1b1b;
  --color-main-dark2: #424242;
  --color-main-dark3: #6d6d6d;

  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 0.25rem;
}

/* Universal Tag */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  /* 기본 속성지우기 */
  text-decoration: none;
  color: var(--color-white);
}

ul {
  /* 기본 속성지우기 */
  list-style: none;
  padding-left: 0;
}

button {
  /* 기본 속성지우기 */
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 1rem 0px;
}
h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 0.5rem 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.5rem 0px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 0.25rem 0px;
}

/* Navbar */
#navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--color-main-dark1); */
  background-color: transparent;
  color: var(--color-white);
  padding: 16px;
  transition: all 300ms ease-in-out;
}

#navbar.navbar-dark {
  background-color: var(--color-main-dark1);
  padding: 1em .5rem;
  z-index: 1;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.fa-ray {
  background: no-repeat 0/100% url("/imgs/favicon.png");
  width: 2.5rem;
  height: 2.5rem;
  margin-right: .3125em;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: .5rem 0.75em;
  margin: 0 .25em;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}
.navbar__menu__item:hover,
.navbar__menu__item.active {
  border: 1px solid var(--color-white);
  background-color: var(--color-main-dark2);
}
.navbar__toggle-btn {
  /* display:  */
  position: absolute;
  color: var(--color-light-white);
  font-size: 1.5rem;
  right: 0;
  top: 0.1em;
  margin: 1.125em 2rem 1.125em 0;
}
.fa-bars,
.fa-hamburger {
  display: none;
}
/* Home */

#home {
  background: center/cover no-repeat url("/imgs/focus_on_your_life.png");
  padding: 2.5rem;
  padding-top: 5rem;
  text-align: center;
  height: 41.875rem;
}
.home__avator {
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
.home__title,
.home__description {
  color: var(--color-light-white);
}
.home__contact {
  margin: 1.5rem;
  padding: 0.6em 0.75rem;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-light-white);
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
}
/* Section Common */
.section {
  padding: 3.125rem;
  text-align: center;
  margin: auto;
}
.section__container {
  max-width: 75rem;
  margin: auto;
}
/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 5em 0;
}
.major__title{
  font-weight: bold;
  font-size: 1.25rem;
}
.major__icon {
  width: 10.625rem;
  height: 10.625rem;
  font-size: 4.5rem;
  border: 2px solid var(--color-main-dark3);
  border-radius: 50%;
  text-align: center;
  line-height: 10.625rem;
  margin-bottom: 1rem;
}

.major__icon:hover i {
  color: var(--color-light-grey);
  transition: all 300ms ease;
}

.job {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}
.job__logo_box {
  width: 25%;
  padding: 0.125rem 0;
  flex-basis: 30%;
  /* border: 1px solid var(--color-main-dark1); */
}
.job__description {
  text-align: left;
    width: 100%;
    text-indent: 5rem;
}
.job__name,
.job__period {
  color: var(--color-light-grey);
}
.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-light-white);
  /* opacity: 0.2; */
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  background-color: var(--color-light-grey);
  margin: 1.25rem 0;
}

.skillset__left {
  flex-basis: 60%;
  padding: 1.25rem 40px;
  background-color: var(--color-dark-grey);
}

.skillset__right {
  flex-basis: 40%;
}
.skillset__title {
  color: var(--color-light-white);
  /* margin: 0; */
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.tools {
  background-color: var(--color-grey);
}
.skill {
  margin-bottom: 2em;
}
.skill__bar {
  height: 0.1875rem;
  background-color: var(--color-grey);
}
.skill__value {
  height: inherit;
  background-color: var(--color-orange);
}

.tools,
.etc {
  padding: 1.25rem;
}

/* Work */
.work__categories {
  margin: 2.5rem;
}
.category__btn {
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: .5em 3rem;
}
.category__btn.active
/* , .category__btn:hover  */
{
  background-color: var(--color-dark-grey);
  color: var(--color-light-white);
  position: relative;
}

.category__count {
  display: inline-block;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  border: 1px solid var(--color-dark-grey);
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  opacity: 0;
  position: absolute;
  top: -1.25rem;
  right: 1.125rem;
  transition: all 300ms ease;
}
.category__btn:hover .category__count,
.category__btn.active .category__count {
  border: 1px solid var(--color-light-white);
  opacity: 1;
  top: 0.3125rem;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all 300ms ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

@keyframes zoom {
  from { transform: scaleX(1); }
  to   { transform: scaleX(2); }
}

.project {
  width: 280px;
  height: 15.625rem;
  margin: 0.125em;
  background-color: var(--color-light-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.project.invisible {
  display: none;
}
.project.clicked{
  position: fixed;
  transform: translate(-50%, -50%) scale(2);
  z-index: 100;
  border: 1px solid var(--color-grey);
  top: 50%;
  left: 50%;
  animation: 100ms ease-in-out zoom ;
  padding: 10px;
  box-sizing: content-box;
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
box-shadow: 5px 5px 15px 5px #000000;
}
.project img {
  max-width: 100%;
  max-height: 100%;
}
.project.hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}

.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transform: translateY(.625em);
  transition: all 300ms ease;
}
.project__description h3 {
  color: var(--color-orange);
}
.project_name {
  color: var(--color-light-white);
}
.project_info{
  font-size: var(--font-micro);
  padding: 1em 0.5em 1em 0.5em;
}
.project_name::after {
  content: "";
  width: 4.375rem;
  height: 0.125rem;
  background-color: var(--color-dark-grey);
  display: block;
  margin: 0.625em auto 0.3125em auto;
}
/* Contact */
#contact {
  background-color: var(--color-point-red4);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 2em 0;
}
.contact__link {
  font-size: var(--font-large);
  margin: 1.5rem 0;
}
.contact__link i:hover {
  transform: scale(1.2);
}

/* Arrow Up */

.arrow-up {
  position: fixed;
  bottom: 0px;
  right: 1.25rem;
  width: 5.9375rem;
  height: 5.9375rem;
  font-size: 5.375rem;
  color: var(--color-dark-grey);
  opacity: 0;
  transition: all 300ms ease-in-out;
  pointer-events: none;
}

.arrow-up.show {
  opacity: 1;
  bottom: 1.25rem;
  pointer-events: auto;
}

.modal_backdrop{
  background-color: var(--color-dark-grey);
  opacity: .8;
  z-index: 1;
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left: 0;
  display: none;
}

/* For below  768px screen width*/
@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 1.875rem;
    --font-medium: 1.125rem;
    --font-regular: 1rem;
    --font-small: 0.875rem;
    --font-micro: 0.75rem;
  }

  .navbar__toggle-btn .fa-bars {
    display: block;
  }
  .navbar__toggle-btn:hover .fa-bars {
    display: none;
  }
  .navbar__toggle-btn:hover .fa-hamburger {
    display: block;
  }
  #home {
    height: inherit;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-main-dark1);
    z-index: 1;
    opacity: 1;
    transition: all 600ms ease;
  }
  #navbar.invisible {
    padding: 0.5rem;
    opacity: 0;
    pointer-events: none;
  }
  .section {
    padding: 1em;
  }
  .navbar__menu {
    width: 100%;
    flex-direction: column;
    text-align: center;
    display: none;
  }
  .navbar__menu.open {
    display: block;
  }

  .about__majors {
    flex-direction: column;
    margin-top: 1.875em;
    margin-bottom: 0;
  }
  .major {
    margin: 0 auto 3.125em auto;
  }
  .category__btn {
    padding: .5em;
    width: 100%;
    margin-bottom: 0.25em;
  }
  .category__count {
    right: 4em;
  }
  .job {
    flex-direction: column;
    margin-bottom: 3.25em;
  }
  .job__logo_box {
    width: 80%;
  }
  .job__logo_box img{
    transform: scale(.8);
    width: 70%;
  }

  .job__description {
    text-align: center;
    width: 100%;
    text-indent: 0;
  }
  .skillset {
    flex-direction: column;
  }
  .project {
    flex-grow: 1;
  }
  .project.clicked{
    position: fixed;
    transform: translate(-50%, -50%) scale(1);
    z-index: 100;
    border: 1px solid var(--color-grey);
    top: 50%;
    left: 50%;
    animation: 100ms ease-in-out zoom ;
    padding: 10px;
    box-sizing: content-box;
  }
  .arrow-up {
    width: 4.375rem;
    height: 4.375rem;
    font-size: 3.125rem;
  }
}
