/* 
변수 사용법 "--naming" : 변수명에 "--" 를 붙인다. 
자식 노드에만 적용 됨으로 보통 root에 선언 한 후 재사용 가능. 
사용법 : var(--naming)
번외 : cal(var(--nameing) * 2)) 계산식으로도 사용가능 
*/

/* Global Setting */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;

  --color-point-red1: #560027;
  --color-point-red2: #880e4f;
  --color-point-red3: #bc477b;
  --color-point-red4: #b899a7;

  --color-main-dark1: #1b1b1b;
  --color-main-dark2: #424242;
  --color-main-dark3: #6d6d6d;

  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;
}

/* Universal Tag */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

a {
  /* 기본 속성지우기 */
  text-decoration: none;
  color: var(--color-white);
}

ul {
  /* 기본 속성지우기 */
  list-style: none;
  padding-left: 0;
}

button {
  /* 기본 속성지우기 */
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}
h2 {
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0px;
}
h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0px;
}
p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0px;
}

/* Navbar */
#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main-dark1);
  color: var(--color-white);
  padding: 16px;
}

.navbar__logo {
  display: flex;
  align-items: center;
}

.fa-ray {
  background: no-repeat 0/100% url("/imgs/favicon.png");
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.navbar__menu {
  display: flex;
}
.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px;
  border-radius: var(--size-border-radius);
}

.navbar__menu__item.active {
  border: 1px solid var(--color-white);
}

.navbar__menu__item:hover {
  background-color: var(--color-main-dark2);
}

/* Home */

#home {
  background: center/cover no-repeat url("/imgs/focus_on_your_life.png");
  padding: 40px;
  text-align: center;
  height: 670px;
}

.home__avator {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  color: var(--color-light-white);
}

.home__contact {
  margin: 24px;
  padding: 8px 12px;
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-light-white);
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
}

/* Section Common */
.section {
  padding: 50px;
  text-align: center;
  margin: auto;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* About */
.about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}

.major__icon {
  width: 170px;
  height: 170px;
  font-size: 72px;
  border: 2px solid var(--color-main-dark3);
  border-radius: 50%;
  text-align: center;
  line-height: 170px;
  margin-bottom: 16px;
}

.major__icon:hover i {
  color: var(--color-point-red3);
  transition: all 300ms ease;
}

.job {
  display: flex;
  align-items: center;
}
.job__logo_box {
  width: 25%;
  padding: 2px 0;
  /* border: 1px solid var(--color-main-dark1); */
}
.job__description {
  text-align: left;
}
.job__name,
.job__period {
  color: var(--color-light-grey);
}
.job__name {
  font-size: var(--font-small);
}
.job__period {
  font-size: var(--font-micro);
}

/* Skill */
#skills {
  background-color: var(--color-light-white);
  /* opacity: 0.2; */
}

.skillset {
  display: flex;
  color: var(--color-light-white);
  background-color: var(--color-light-grey);
  margin: 20px 0;
}

.skillset__left {
  flex-basis: 60%;
  padding: 20px 40px;
  background-color: var(--color-dark-grey);
}

.skillset__right {
  flex-basis: 40%;
}
.skillset__title {
  color: var(--color-light-white);
  /* margin: 0; */
}
.skill__description {
  display: flex;
  justify-content: space-between;
}
.tools {
  background-color: var(--color-grey);
}
.skill {
  margin-bottom: 32px;
}
.skill__bar {
  height: 3px;
  background-color: var(--color-grey);
}
.skill__value {
  height: inherit;
  background-color: var(--color-orange);
}

.tools,
.etc {
  padding: 20px;
}

/* Work */
.work__categories {
  margin: 40px;
}
.category__btn {
  border: 1px solid var(--color-dark-grey);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
.category__btn.active,
.category__btn:hover {
  background-color: var(--color-point-red3);
  color: var(--color-light-white);
}

.category__count {
  display: inline-block;
  background-color: var(--color-point-red4);
  color: var(--color-light-white);
  border: 1px solid var(--color-dark-grey);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  line-height: 24px;
  opacity: 0;
  position: relative;
  top: -20px;
  left: 4px;
  transition: all 300ms ease;
}
.category__btn:hover .category__count,
.category__btn.active .category__count {
  border: 1px solid var(--color-light-white);
  opacity: 1;
  top: 0;
}

.work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project {
  width: 280px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project img {
  max-width: 100%;
  max-height: 100%;
}
.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
}
.project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0;
  transform: translateY(10px);
  transition: all 300ms ease;
}
.project_name {
  color: var(--color-light-white);
}
.project_name::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-grey);
  display: block;
  margin: 10px auto 5px auto;
}
